.formulario-endereco{
    margin-top: 16.25rem;
    border-radius: 10px;
    border:1px solid #351912;
    padding-top: 3.12rem;
    padding-bottom: 10px;
    width:56.25rem;
    align-items: center;
} 

.titulo-endereco{
    text-align: center;
    margin-bottom: 1.88rem;
    margin-left: 1.88rem;
    color: #351912;

} 

.label-form{
    color:#351912;
    font-size: 1rem;
    
}

.swal-alert{
    width: 390px !important;
  
}