.link-menu{
    text-align: center;
    color:white
}
.link-menu:hover{
    color: white;
}

.navBar{
    min-height: 60px;
    background-color: #351912;
}
.btn-nav{
    padding-left: 40px; 
    padding-right: 40px;

}
/*======================================================== */
/* ==================== MEDIA QUERY MENU ==================*/
/* ========================================================== */

/* TELA MUITO PEQUENA */
@media screen and (max-width:392px) {

    .menu{
        width: 100%;
    }
}

/* TELA MUITO PEQUENA - XSM */
@media screen and (min-width: 393px) and (max-width:575px) {

    .menu{
        width: 100%;
    }
}

/* DE SMALL ATE TELAS MEDIAS - MD*/
@media screen and (min-width:576px) and (max-width:768px){


    .menu{
        width: 100%;
    }

}
