.mvendido{
    color: #351912;
    text-align: center;
}
.pcachorro{
    color: #b7773f;
    font-size: 2rem;
}
.pgato{
    color: #b7773f;
    font-size: 2rem;
}

.titulo{
    font-size: 1.25rem;
    font-weight: bold;
}