
.footer{
    background-color: #351912;
    color: #fff;
  
}

.titulo{
    font-size: 20px;
    font-weight: bold;
}

.divOrientation{
    float: right;
}



/* =============================================================== */
/* =============== FIX QUEBRA DE LAYOUT CARTOES ================== */
/* =============================================================== */

@media screen and (max-width:575px){

    .divOrientation{
        float: left;
        margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:586px){

    #card-1{
        width: 45px;
    }

    #card-2{
        width: 45px;
    }

    #card-3{
        width: 45px;
    }

    #card-4{
        width: 55px;
    }
}

@media screen and (max-width:293px){

    #card-1{
        width: 40px;
    }

    #card-2{
        width: 40px;
    }

    #card-3{
        width: 40px;
    }

    #card-4{
        width: 50px;
    }
}